<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.otherperspectiv.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".LogInActivity" />
        <activity android:name=".activities.CreateOrJoinRestaurantActivity" />
        <activity android:name=".activities.CreateRestaurantActivity" />
        <activity android:name=".activities.JoinRestaurantActivity" />
        <activity
            android:name=".activities.MainWaiterActivity"
            android:label="@string/title_activity_main_waiter" />
        <activity android:name=".activities.WaiterMoreStatisticsActivity" />
        <activity android:name=".activities.WaiterMoreEditProfileActivity" />
        <activity
            android:name=".activities.MainManagerActivity"
            android:label="@string/title_activity_main_manager" />
        <activity android:name=".activities.WaiterProcessOrderActivity" />
        <activity android:name=".activities.ManagerAddItemActivity" />
        <activity android:name=".activities.ManagerMoreStatisticsActivity" />
        <activity android:name=".activities.ManagerMoreAddShiftActivity" />
        <activity android:name=".activities.ManagerMoreRequestActivity" />

        <service android:name=".utils.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".utils.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.ManagerMoreSendNotificationActivity"></activity>
    </application>

</manifest>